<div class="mt-4">
    <form method="POST">
        <div class="mb-3">
            <label for="search" class="form-label">Google</label>
            <input type="text" name="q" class="form-control" id="search" placeholder="Enter your keyword...">

        </div>
        <div class="mb-3">
            <label for="search" class="form-label">Gender</label>
            <select type="text" name="gender" class="form-control" id="search" >
                <option value="">--Select your gender--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>